@font-face {
    font-family: "Impossibilium BRK";
    src: url("../fonts/transfonter.org-20210301-193119/ImpossibiliumBRK.woff2") format("woff2"),
        url("../fonts/transfonter.org-20210301-193119/ImpossibiliumBRK.woff") format("woff"),
        url("../fonts/transfonter.org-20210301-193119/ImpossibiliumBRK.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #000;
    font-size: 50pt;
}
header {
    img {
        //max-width: 80vw;
    }
}
ul {
    li {
        display: block;
        a {
            color: #fff;
            font-family: "Impossibilium BRK";
            letter-spacing: 2px;
            cursor: pointer;
            display: block;
            position: relative;
            &:before,
            &:after {
                content: "";
                position: absolute;
                width: 0%;
                height: 3px;
                top: 40%;
                margin-top: -0.5px;
                background: #fff;
            }
            &:before {
                left: -2.5px;
            }
            &:after {
                right: 2.5px;
                background: #fff;
                transition: width 0.2s ease-out;
            }
            &:hover:before {
                background: #fff;
                width: 100%;
                transition: width 0.2s ease-out;
            }
            &:hover:after {
                background: transparent;
                width: 100%;
                transition: 0s;
            }
        }
    }
}
.socials{

}
.overlay {
    pointer-events: none;
    background: url("../images/TEXTURE_OVERLAY_smaller.jpg");
    mix-blend-mode: hard-light;
    opacity: 0.4;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 100;
}
